<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="GrblRunner"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="GrblRunner">
         </property>
         <property
               name="cssTheme"
               value="platform://plugin/de.jungierek.grblrunner/css/default.css">
         </property>
      </product>
   </extension>
   <extension
         id="quit.handler"
         name="Quit Handler"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="de.jungierek.grblrunner.addon.QuitProcessor">
            <element id="de.jungierek.grblrunner.window.main"/>
      </processor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
      		name="default">
      </scope>
      <initializer
            class="de.jungierek.grblrunner.preference.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="GrblRunner">
         <property
               name="appName"
               value="GrblRunner">
         </property>
      </product>
   </extension>

</plugin>
